In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('productlist.csv');
df1 = pd.read_csv('productReviews_soup.csv');

In [4]:
max =df['price'].max()
min = df['price'].min()
print(max,min)

$95 $1.80

In [5]:
df['product_brand'].value_counts().head(8)

NEOGEN                 37
COSRX                  28
BENTON                 24
HANSKIN                21
KLAIRS                 19
NATURIUM               18
SOKO GLAM EXCLUSIVE    16
ETUDE HOUSE            14
Name: product_brand, dtype: int64

In [6]:
df1 = df[df['product_ID'] == 4339086655557]
df1.head()

Empty DataFrame
Columns: [Unnamed: 0, product_ID, product_name, product_link, product_brand, price, product_description, product_type, skin_type, skin_concern, Img_link]
Index: []

In [9]:
top_product_ids = df1['product_ID'].value_counts().index[:10]
top_products = df[df['product_ID'].isin(top_product_ids)]
print(top_products['product_ID'])

Series([], Name: product_ID, dtype: int64)